.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    background-color: #343a40;
}

.navbar-brand a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 1rem;
    position: relative;
    top: 8px;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.nav-item a:hover {
    color: #a09c9c;
}

.nav-item a.active {
    color: #7c7a7a;
}

.logout-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    top: -6.5px;

    &:hover {
        background-color: #c82333;
    }
}