.header {
    margin-bottom: 10px;

    button {
        background-color: #343a40;
        border-color: #343a40;
        font-weight: bold;
        color: #FFE47B;
    }
}

.edit-button {
    background-color: #343a40;
    border-color: #343a40;
    font-weight: bold;
    color: #74AEF6;
    margin-right: 10px;
}

.delete-button {
    background-color: #343a40;
    border-color: #343a40;
    font-weight: bold;
    color: #C27C73;
}